<html><head></head><body>@using Papara.Utilities.Extensions
@model Papara.Admin.Models.Marketing.CashbackConditionSubDetailPageModelView
@{
    ViewBag.Title = "CashbackConditionSubDetails";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h4>
                <span>@Model.CashbackName</span>
            </h4>
            <hr>
            <h4>
                <span>MetalCard Travel Reward Cashback Detayları</span>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="text-right">
                <input onclick="fillAddConditionDetailModal(this)" type="button" class="btn btn-primary margin-right-10" value="Detay Ekle" name="New4">
            </div>
        </div>
    </div>
    <hr>
    <div>
        
                @foreach (var detail in Model.CashbackConditionSubDetails)
                {
                    
                }
            <table class="table table-striped" data-toggle="table" data-response-handler="responseHandler">
            <thead>
                <tr>
                    <th><span data-i18n="[html]metalcard_travel_reward_cashback_details_currency_unit"></span> <!-- 0 --></th>
                    <th><span data-i18n="[html]metalcard_travel_reward_cashback_details_cashback"></span> <!-- 1 --></th>
                    <th><span data-i18n="[html]metalcard_travel_reward_cashback_details_transaction_limit"></span> <!-- 2 --></th>
                    <th><span data-i18n="[html]metalcard_travel_reward_cashback_details_id"></span> <!-- 3 --></th>
                    <th></th>
                </tr>
            </thead>
            <tbody><tr data-id="@detail.Id" data-cashbackid="@detail.CashbackConditionId" data-cashbackratio="@detail.CashbackRatio" data-cashbackamount="@detail.CashbackAmount" data-allowedcashbackcount="@detail.AllowedCashbackCount" data-minimumtransactionamount="@detail.MinimumTransactionAmount" data-transactioncap="@detail.AmountPerTransactionCap" data-monthlycap="@detail.MonthlyCap" data-originalcurrencynumber="@((short)detail.OriginalCurrency)">
                        <td class="text-wrap">
                            @detail.Id
                        </td>
                        <td class="text-wrap">
                            @detail.OriginalCurrency.ToString()
                        </td>
                        <td>
                            <div style="display: table;">
                                <div style="display: table-row;">
                                    <div style="display: table-cell; white-space: nowrap;">Oranı</div>
                                    <div style="display: table-cell; white-space: nowrap;">:&nbsp;</div>
                                    <div style="display: table-cell; white-space: nowrap; text-align: right; width: 100%;">@detail.CashbackRatio</div>
                                </div>
                                <div style="display: table-row;">
                                    <div style="display: table-cell; white-space: nowrap;">Miktarı</div>
                                    <div style="display: table-cell; white-space: nowrap;">:&nbsp;</div>
                                    <div style="display: table-cell; white-space: nowrap; text-align: right; width: 100%;">@detail.CashbackAmount.ToMoneyString(rounded: true)</div>
                                </div>
                                <div style="display: table-row;">
                                    <div style="display: table-cell; white-space: nowrap;">Adedi</div>
                                    <div style="display: table-cell; white-space: nowrap;">:&nbsp;</div>
                                    <div style="display: table-cell; white-space: nowrap; text-align: right; width:100%;">@detail.AllowedCashbackCount</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="display: table;">
                                <div style="display: table-row;">
                                    <div style="display: table-cell; white-space: nowrap;">İşlem Bazında Alt Sınır</div>
                                    <div style="display: table-cell; white-space: nowrap;">:&nbsp;</div>
                                    <div style="display: table-cell; white-space: nowrap; text-align: right; width: 100%;">@detail.MinimumTransactionAmount</div>
                                </div>
                                <div style="display: table-row;">
                                    <div style="display: table-cell; white-space: nowrap;">İşlem Bazında Üst Sınır</div>
                                    <div style="display: table-cell; white-space: nowrap;">:&nbsp;</div>
                                    <div style="display: table-cell; white-space: nowrap; text-align: right; width: 100%;">@detail.AmountPerTransactionCap</div>
                                </div>
                                <div style="display: table-row;">
                                    <div style="display: table-cell; white-space: nowrap;">Aylık Üst Sınır</div>
                                    <div style="display: table-cell; white-space: nowrap;">:&nbsp;</div>
                                    <div style="display: table-cell; white-space: nowrap; text-align: right; width: 100%;">@detail.MonthlyCap</div>
                                </div>
                            </div>
                        </td>
                        <td class="text-nowrap">
                            <input onclick="fillEditModalAndShow(this)" type="button" class="btn btn-success  btn-xs margin-right-10" value="Düzenle" name="New">
                            <input onclick="fillRemoveModalAndShow(this)" type="button" class="btn btn-danger  btn-xs margin-right-10" value="Sil" name="New1">
                        </td>
                    </tr></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="newCashbackDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("NewCashbackConditionSubDetail", "Marketing", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x =&gt; x.ConditionSubDetailId)
            @Html.HiddenFor(x =&gt; x.ConditionId)

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Yeni Detay Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_cashback"><!-- Para Birimi --></label>
                            @Html.DropDownListFor(x =&gt; x.CashbackConditionSubDetailRequestModel.OriginalCurrency, new SelectList(Model.OriginalCurrencyNumbers, "Value", "Text"), null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_cashback_rate_label"><!-- Cashback Oranı --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.CashbackRatio, new { @class = "form-control", autocomplete = "off", placeholder = "0,000", Value = "" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.CashbackRatio, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_cashback_amount_label"><!-- Cashback Miktarı --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.CashbackAmount, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Value = "" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.CashbackAmountPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Value = "" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.CashbackAmountPrecision, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6 form-group">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_allowance_granted_cashback_number_label"><!-- İzin Verilen Cashback Adedi --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.AllowedCashbackCount, new { @class = "form-control", autocomplete = "off", placeholder = "0", Value = "" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.AllowedCashbackCount, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_monthly_cap_limit_label"><!-- Aylık Üst Sınır --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MonthlyCap, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Value = "" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MonthlyCapPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Value = "" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.MonthlyCapPrecision, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_transaction_based_lower_limit_label"><!-- İşlem Bazında Alt Sınır --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MinimumTransactionAmount, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Value = "" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MinimumTransactionAmountPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Value = "" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.MinimumTransactionAmountPrecision, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_transaction_based_upper_limit_label"><!-- İşlem Bazında Üst Sınır --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.AmountPerTransactionCap, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Value = "" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.AmountPerTransactionCapPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Value = "" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.AmountPerTransactionCapPrecision, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmitNewCashbackSubDetail" data="">Kaydet</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="editCashbackSubDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("EditCashbackConditionSubDetail", "Marketing", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x =&gt; x.ConditionSubDetailId)
            @Html.HiddenFor(x =&gt; x.ConditionId)

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Detay Düzenle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_cashback"><!-- Para Birimi --></label>
                            @Html.DropDownListFor(x =&gt; x.CashbackConditionSubDetailRequestModel.OriginalCurrency, new SelectList(Model.OriginalCurrencyNumbers, "Value", "Text"), null, new { @class = "form-control", Name = "CashbackConditionSubDetailRequestModel.OriginalCurrency", id = "CashbackConditionSubDetailRequestModel_OriginalCurrency" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_cashback_rate_label"><!-- Cashback Oranı --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.CashbackRatio, new { @class = "form-control", autocomplete = "off", placeholder = "0,000", Name = "CashbackConditionSubDetailRequestModel.CashbackRatio", id= "CashbackConditionSubDetailRequestModel_CashbackRatio" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.CashbackRatio, "", new { @class = "text-danger", data_valmsg_for = "CashbackRatio" })
                        </div>
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_cashback_amount_label"><!-- Cashback Miktarı --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.CashbackAmount, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Name = "CashbackConditionSubDetailRequestModel.CashbackAmount", id = "CashbackConditionSubDetailRequestModel_CashbackAmount" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.CashbackAmountPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Name = "CashbackConditionSubDetailRequestModel.CashbackAmountPrecision", id = "CashbackConditionSubDetailRequestModel_CashbackAmountPrecision" })
                        </div>
                        <div class="col-lg-6 form-group">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_allowance_granted_cashback_number_label"><!-- İzin Verilen Cashback Adedi --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.AllowedCashbackCount, new { @class = "form-control", autocomplete = "off", placeholder = "0", Name = "CashbackConditionSubDetailRequestModel.AllowedCashbackCount", id = "CashbackConditionSubDetailRequestModel_AllowedCashbackCount" })
                            @Html.ValidationMessageFor(m =&gt; m.CashbackConditionSubDetailRequestModel.AllowedCashbackCount, "", new { @class = "text-danger", data_valmsg_for = "AllowedCashbackCount" })
                        </div>
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_monthly_cap_limit_label"><!-- Aylık Üst Sınır --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MonthlyCap, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Name = "CashbackConditionSubDetailRequestModel.MonthlyCap", id = "CashbackConditionSubDetailRequestModel_MonthlyCap" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MonthlyCapPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Name = "CashbackConditionSubDetailRequestModel.MonthlyCapPrecision", id = "CashbackConditionSubDetailRequestModel_MonthlyCapPrecision" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_transaction_based_lower_limit_label"><!-- İşlem Bazında Alt Sınır --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MinimumTransactionAmount, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Name = "CashbackConditionSubDetailRequestModel.MinimumTransactionAmount", id = "CashbackConditionSubDetailRequestModel_MinimumTransactionAmount" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.MinimumTransactionAmountPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Name = "CashbackConditionSubDetailRequestModel.MinimumTransactionAmountPrecision", id = "CashbackConditionSubDetailRequestModel_MinimumTransactionAmountPrecision" })
                        </div>
                        <div class="col-lg-6 form-group precision">
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_transaction_based_upper_limit_label"><!-- İşlem Bazında Üst Sınır --></label>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.AmountPerTransactionCap, new { @class = "form-control text-right", autocomplete = "off", placeholder = "0", Name = "CashbackConditionSubDetailRequestModel.AmountPerTransactionCap", id = "CashbackConditionSubDetailRequestModel_AmountPerTransactionCap" })
                            <span class="dot"></span>
                            @Html.TextBoxFor(model =&gt; model.CashbackConditionSubDetailRequestModel.AmountPerTransactionCapPrecision, new { @class = "form-control text-left", autocomplete = "off", placeholder = "00", Name = "CashbackConditionSubDetailRequestModel.AmountPerTransactionCapPrecision", id = "CashbackConditionSubDetailRequestModel_AmountPerTransactionCapPrecision" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmitEditCashbackSubDetail" data="">Kaydet</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="removeCashbackSubDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveCashbackConditionSubDetail", "Marketing", FormMethod.Post))
        {
            @Html.HiddenFor(x =&gt; x.ConditionSubDetailId)
            @Html.HiddenFor(x =&gt; x.ConditionId)
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Detay Silme</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            @Html.DropDownListFor(x =&gt; x.CashbackConditionSubDetailRequestModel.OriginalCurrency, new SelectList(Model.OriginalCurrencyNumbers, "Value", "Text"), null, new { @class = "form-control", @disabled = "disabled", Name = "CashbackConditionSubDetailRequestModel.OriginalCurrency", id = "CashbackConditionSubDetailRequestModel_OriginalCurrency" })
                            <br>
                            <label data-i18n="[html]metalcard_travel_reward_cashback_details_form_detail_of_the_currency_of_your_chosen_will_be deleted._are_you_sure?_label"><!-- Seçtiğiniz Para Birimi Detayı Silinecektir. Emin Misiniz? --></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                    <button type="submit" class="btn btn-primary" data="">Evet</button>
                </div>
            </div>
        }
    </div>
</div>

@section PageScripts
{
    <script>
        function fillAddConditionDetailModal(item) {

            $("#newCashbackDetail").modal("show");
        }

        function fillRemoveModalAndShow(item) {
            var decimalSeperators = [",", "."];
            var activeSeperator;

            for (var i = 0; i < decimalSeperators.length; i++) {
                var seperator = decimalSeperators[i];
                if ($(item).parents("tr").attr("data-transactionCap").indexOf(seperator)) {
                    activeSeperator = seperator;
                    break;
                }
            }

            var conditionSubDetailId = $(item).parents("tr").attr("data-id");
            $("#removeCashbackSubDetail #ConditionSubDetailId").val(conditionSubDetailId);

            var originalCurrency = $(item).parents("tr").attr("data-originalCurrencyNumber");
            $("#removeCashbackSubDetail #CashbackConditionSubDetailRequestModel_OriginalCurrency").val(originalCurrency);

            $("#removeCashbackSubDetail").modal("show");
        }

        function fillEditModalAndShow(item) {
            var decimalSeperators = [",", "."];
            var activeSeperator;

            for (var i = 0; i < decimalSeperators.length; i++) {
                var seperator = decimalSeperators[i];
                if ($(item).parents("tr").attr("data-transactionCap").indexOf(seperator)) {
                    activeSeperator = seperator;
                    break;
                }
            }

            var conditionSubDetailId = $(item).parents("tr").attr("data-id");

            var cashbackRatio = $(item).parents("tr").attr("data-cashbackRatio");

            var transactionCap = parseInt($(item).parents("tr").attr("data-transactionCap"));

            var transactionCapPre = $(item).parents("tr").attr("data-transactionCap").split(activeSeperator)[1];

            var monthlyCap = parseInt($(item).parents("tr").attr("data-monthlyCap"));

            var monthlyCapPre = $(item).parents("tr").attr("data-monthlyCap").split(activeSeperator)[1];

            var cashbackAmount = parseInt($(item).parents("tr").attr("data-cashbackAmount"));

            var cashbackAmountPre = $(item).parents("tr").attr("data-cashbackAmount").split(activeSeperator)[1].substr(0, 2);

            var minimumTransactionAmount = parseInt($(item).parents("tr").attr("data-minimumTransactionAmount"));

            var minimumTransactionAmountPre = $(item).parents("tr").attr("data-minimumTransactionAmount").split(activeSeperator)[1];

            var allowedCashbackCount = $(item).parents("tr").attr("data-allowedCashbackCount");

            var originalCurrency = $(item).parents("tr").attr("data-originalCurrencyNumber");


            $("#editCashbackSubDetail #ConditionSubDetailId").val(conditionSubDetailId);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_CashbackRatio").val(cashbackRatio);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_MonthlyCap").val(monthlyCap);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_AmountPerTransactionCap").val(transactionCap);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_MonthlyCapPrecision").val(monthlyCapPre);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_AmountPerTransactionCapPrecision").val(transactionCapPre);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_CashbackAmount").val(cashbackAmount);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_CashbackAmountPrecision").val(cashbackAmountPre);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_MinimumTransactionAmount").val(minimumTransactionAmount);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_MinimumTransactionAmountPrecision").val(minimumTransactionAmountPre);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_AllowedCashbackCount").val(allowedCashbackCount);
            $("#editCashbackSubDetail #CashbackConditionSubDetailRequestModel_OriginalCurrency").val(originalCurrency);

            $("#editCashbackSubDetail").modal("show");
        }
    </script>
}</body></html>